body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, .card-body>h5 {
font-family: "Lobster", cursive;
}

h2 {
  color: #FFA81E;
}

.cardheader {
  background-color: #824c96;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(#CEC8FF, white);
  padding: 20px 0;
}

.jumbotron {
  margin: 0;
  padding: 30px;
  color: white;
}

.jumbotron h2 {
  color: #CEC8FF;
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-out;
}

.Container {
  position: relative;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
.Container .Card {
  position: relative;
  max-width: 300px;
  height: 215px; 
  background: #BB78FF;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.Container .Card:hover {
  height: 420px;
}

.Container .Card .imgBx {
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 5px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2)
}

.Container .Card .imgBx img {
  max-width: 100%;
  border-radius: 4px;
}

.Container .Card .content {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.Container .Card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 18vw;
  text-align: center;
  color: #000;
  line-height: 100vh;
  mix-blend-mode: screen;
}

.header {
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-2%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shrink {
  0% {
    width: 95%;
  }
  100% {
    width: 90%;
  }
}

.navbar-fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}

section {
  padding: 100px 0;
}

.price-table {
  text-align: center;
  overflow: hidden;
  margin: 20px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2), 0 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.col-sm-4:nth-child(2) .price-table{
  transform: scale(1.1)
}
.price-table .price-head {
  padding: 50px;
  background: linear-gradient(45deg, #824c96, #FFA81E );
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.price-table .price-head h4 {
  margin: 0;
  padding: 0;
  color: #fff;
  font-weight: 500;
}

.price-table .price-head h2 {
  margin: 0;
  padding: 0;
  font-size: 36px;
}

.price-content {
  position: relative;
}

.price-content ul {
  position: relative;
  margin: 0;
  padding: 20px 0;
}

.price-content ul li {
  list-style: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 0;
  color: #777;
  cursor: pointer;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transition: .5s;
}

.price-content ul li:hover {
  border-left: 15px solid #824c96;
  border-right: 15px solid #824c96;
}

.price-button {
  padding: 0 0 30px;
}

.price-button a {
  padding: 10px 40px;
  background:linear-gradient(45deg, #824c96, #FFA81E );
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.submit-button {
  padding: 0 0 30px;
}

.submit-button a {
  padding: 10px 40px;
  background:linear-gradient(45deg, #824c96, #FFA81E );
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
}

.modalHeader {
  padding: 30px;
  background: linear-gradient(45deg, #824c96, #FFA81E );
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}

.carousel-item > img { 
  width: 50%; 
}

.react-rounded-image > img { 
  width: 100%; 
}